body {
    font-family: "Sora", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 249, 251, 0.802);
}

.card {
    width: 358px;
    height: 370px;
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 164px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}
#image {
    width: 328px;
    height: 152px;
    border-radius: 0.8rem;
    margin: 1rem 0rem 0.1rem 1rem ;   
}

button {
    margin: 1rem 0rem -1rem 1rem ;
    align-items: start;
    display: block;
    border-radius: 10px ;
    border: none;
    color: rgb(98, 61, 154);
    background-color: rgb(188, 160, 215);
}

.para {
    margin: 1rem 0rem -1rem 1rem;
     font-size: 12px;
}
#p {
    color: rgb(142, 150, 158);
}

.line {
    margin: 1rem 0rem 0rem 0rem;
    height: 1px;
    width: 100%;
    background-color: rgb(209, 207, 207);

}
.bottom {
    font-size: 10px;
    margin: 0.2rem 0rem 1rem 1rem;
    color: rgb(144, 147, 151);
}
/* .card {
    @media  screen and (min-width: 40rem) {
        
    }
} */